.body{
    background-color: rgb(219, 219, 219);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo{
    display: flex;
    margin: 3rem;
    margin-top: -1rem;
}
.div3{
 flex-direction: row;
 background-color: white;
 border-radius: 20px;
 margin-left: 1rem;
 padding: 1rem;
 height: min-content;
}
.div3 > .datosperso{
    padding: 1rem;
    border: black solid 1px;
    border-radius: 20px;
    margin: 2rem;
}
.div3 > .datosperso > .labelt{
    width: 50rem;
    padding: 1rem;
}
.div3 > .datosperso > .labelt > div > input{
    border-radius:5px;
    border: gray solid 1px;
}
.div3 > .datosperso > .labelt > div > label{
    color: gray;
}
