<app-template-navbar></app-template-navbar>
<div class="body">
<div class="todo">
    <app-template-sidevar></app-template-sidevar>
<div class="div3">
 <h2><b>Contraseña</b></h2>
 <p style="font-size: 20px;">Si quieres modificar la Contraseña, pon siempre una segura</p>
    <div class="datosperso">
        <h4>Contraseña</h4>
        <div class="labelt">
            <div>
                <label>Contraseña</label><br>
                <input type="password" value="12345678">
            </div>
        </div>
    </div>
</div>
</div>
</div>
<app-template-footer></app-template-footer>