<div class="ubicacion">
<div>
    <button routerLink="/" class="btn btn-light"><i class="fa-solid fa-arrow-left"></i></button>
</div>
<h1 class="text-center">Estamos muy bien ubicados, encuentranos en :</h1>
<br>
<div id="mapa"></div>
<br>
<div id="informacion">
    <div>
        <h3>Contacto</h3>
        <p>937659709</p>
    </div>
    <div>
        <h3>Direccion</h3>
        <p style="margin-top: 10px;"></p>
        <P>Jr Ayacucho N°992</P>
        <P>Jauja 12601</P>
        <P>Perú</P>
    </div>
    <div>
        <h3>Horario de atencion</h3>
        <P> lun: 4:00.pm.-1030p.m.</P>
        <P> mar: 4:00.pm.-1030p.m.</P>
        <P> mié: 4:00.pm.-1030p.m.</P>
        <P> jue: 4:00.pm.-1030p.m.</P>
        <P> vie: 4:00.pm.-1030p.m.</P>
        <P> sáb: 4:00.pm.-1030p.m.</P>
    </div>    
</div>
</div>