<div class="cuerpocompleto">
    
    <div id="succes" class="success">
        <h1>GRACIAS POR SU COMPRA</h1>
        <img src="../../../../../assets/imgs/succespaymnet.png" height="30%" width="50%">
        <br>
        <h4>Le estara llegando la informacion de compra a su correo en unos minutos</h4>
    </div>

    <div id="error" class="error">
        <h1 class="text-danger">PARECE QUE OCURRIO UN ERROR</h1><br>
        <img src="../../../../../assets/imgs/cancelledpayment.jpg" height="60%" width="100%">
        <br>
        <h4>Puedes volver a intentarlo</h4>
    </div>
</div>