<br>
<div class="container">
    <div class="row">
        <a class="col"  routerLink="../hamburguesas"> 
            <img class="rounded-circle" height="100px" width="100px" src="../../../../../../assets/imgs/hamburmenu2.jpg">
            <p>Hamburguesas</p>
        </a>
        <a class="col"  routerLink="../salchipapas">
            <img class="rounded-circle" height="100px" width="100px"  src="../../../../../../assets/imgs/menusalchi.jpg">
            <p  >Salchipapas</p>
        </a>
        <a class="col"  routerLink="../cafes">
            <img class="rounded-circle" height="100px" width="100px"  src="../../../../../../assets/imgs/cafemenu.jpg">
            <p  >Cafes</p>
        </a>
        <a class="col"  routerLink="../piqueos"> 
            <img class="rounded-circle" height="100px" width="100px"  src="../../../../../../assets/imgs/menutequeños.jpg">
            <p  >Piqueos</p>
        </a> 
        <a class="col"  routerLink="../cocteles">
            <img class="rounded-circle" height="100px" width="100px"  src="../../../../../../assets/imgs/coctelmenu.jpg">
            <p  >Cocteles</p>
        </a>
        <a class="col"  routerLink="../postres">
            <img  class="rounded-circle" height="100px" width="100px" src="../../../../../../assets/imgs/tartamenu.jpg">
            <p  >Postres</p>
        </a>
        <a class="col"  routerLink="../bebidas">
            <img class="rounded-circle" height="100px" width="100px"  src="../../../../../../assets/imgs/bebidamenu.jpg">
            <p  >Bebidas</p>
        </a>
    </div>
</div>