input{
    width: 5rem;
}
.inputnumber{
    margin-top: 1rem;
}
#parque{
    margin-left: -1.1rem;
    width: 50.1rem;
    border-radius: 25px;
}

#parque >div > p{
    	margin-top: 12px;
}
#parque >div > input{
   margin-top: 10px;
}
#parque >div > button{
    margin-top: 10px;
 }
.modal-body{
height: 22.5rem;
}
#bty{
  height:30px;
  width: 25px;
  margin-bottom: 13px;
  border-radius: 5px;
  border:0.2px solid rgb(56, 55, 55);
}
